.bg {
    -fx-background-image: url("../graphics/bgs/clp_bg.png");
    -fx-background-size: stretch;
}

.button {
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-background-image: url("../graphics/btns/cm_btn_green.png");
    -fx-background-size: stretch;
}
.button:pressed {
    -fx-background-image: url("../graphics/btns/cm_btn_green_pressed.png");
}

.name {
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 25;
    -fx-text-fill: white;
}

.desc {
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 18;
}