
.mainPanel {
	-fx-background-image: url("../../../../src/main/resources/graphics/bgs/bg_mainmenu.png");
	-fx-background-size: stretch;
}

.actionButton {
	-fx-background-image: url("../../../../src/main/resources/graphics/btns/cm_btn_blue.png");
	-fx-background-size: stretch;
	-fx-background-color: transparent;
}

.actionButton:hover {
	-fx-opacity: 0.9;
}

.actionButton:pressed {
	-fx-background-image: url("../../../../src/main/resources/graphics/btns/cm_btn_blue_pressed.png");
}